.img-user-perfil {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 4rem);
    right: 0;
}

.img-book-thumb-small {
    width: 10rem !important;
    height: 14rem !important;
}

.status-book.in-progress {
    color: #f53d3d;
}

.status-book.finished {
    color: #32db64;
}

.status-book.in-revision {
    color: #488aff;
}