<ion-header>

    <ion-navbar>
        <ion-title>Criar Livro</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <form [formGroup]="addBookForm" (ngSubmit)="createBook()" novalidate>
            <ion-item>
                <ion-icon [hidden]="base64Image !== any" (click)="accessGallery()" class="image-book" name="image"></ion-icon>
                <img class="image-book" [hidden]="base64Image !== any" (click)="accessGallery()" [src]="base64Image" *ngIf="base64Image" />
            </ion-item>
            <ion-item>
                <ion-label floating>Título</ion-label>
                <ion-input formControlName="title" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Sinopse</ion-label>
                <ion-textarea formControlName="synopsis" fz-elastic></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Categoria</ion-label>
                <ion-select formControlName="category" cancelText="Cancelar" okText="Ok">
                    <ion-option *ngFor="let category of categoryList" [selected]="category.checked" [value]="category">{{category}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Avisos</ion-label>
                <ion-select formControlName="warnings" multiple="true" cancelText="Cancelar" okText="Ok">
                    <ion-option *ngFor="let warning of warningsList" [selected]="warning.checked" [value]="warning">{{warning}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Concordo com os termos</ion-label>
                <ion-checkbox formControlName="checkTerms" color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item><button ion-button full type="submit" [disabled]="!addBookForm.valid"> Cadastrar</button></ion-item>
        </form>
        <ion-item><button ion-button full (click)="openTermsModal()"> Termos</button></ion-item>
    </ion-list>
</ion-content>